In [2]:
# demoGapminder.ipynb 
import pandas as pd 

#파일 보기 
#!type c:\work\gapminder.tsv  
df = pd.read_csv('c:\\work\\gapminder.tsv', sep='\t')
print( type(df) )

<class 'pandas.core.frame.DataFrame'>

In [3]:
#써머리한 정보 보기 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [4]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [5]:
df.tail(7)

       country continent  year  lifeExp       pop   gdpPercap
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [6]:
#한줄로 요약 (행,열)
df.shape

(1704, 6)

In [7]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
#컬럼으로 슬라이싱하기
country_df = df['country']
print( type(country_df) )
country_df.head()

<class 'pandas.core.series.Series'>

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [9]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [10]:
#여러개의 열을 묶어서 추출하기 
subset = df[ ['country','continent','year'] ]
print( type(subset) )
print( subset.head() )

<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [11]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
dtypes: int64(1), object(2)
memory usage: 40.1+ KB

In [12]:
#행데이터를 슬라이싱(location속성으로 접근) 
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [13]:
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [14]:
#마지막 행을 출력하기 (1704, 6)
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1 
df.loc[last_row_index]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [15]:
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [16]:
#필요한 행만 골라서 담기
df.loc[ [0,99,999] ]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [17]:
#loc는 행번호('22-10-1') 시계열로변경 iloc는 원래의 정수첨자(0) 
df.iloc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [18]:
#마지막행 
df.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [20]:
#특정행과 특정열을 지정 
subset = df.loc[:, ['year','pop'] ]
subset.head() 
subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1704 non-null   int64
 1   pop     1704 non-null   int64
dtypes: int64(2)
memory usage: 26.8 KB

In [23]:
subset2 = df.loc[0:10, ["country","year","pop"] ]
subset2

        country  year       pop
0   Afghanistan  1952   8425333
1   Afghanistan  1957   9240934
2   Afghanistan  1962  10267083
3   Afghanistan  1967  11537966
4   Afghanistan  1972  13079460
5   Afghanistan  1977  14880372
6   Afghanistan  1982  12881816
7   Afghanistan  1987  13867957
8   Afghanistan  1992  16317921
9   Afghanistan  1997  22227415
10  Afghanistan  2002  25268405

In [24]:
#연도별로 그룹화해서 평균 구하기 
df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [26]:
#df.groupby('year')['lifeExp'].sum() 
df.groupby('year')['lifeExp'].count()

year
1952    142
1957    142
1962    142
1967    142
1972    142
1977    142
1982    142
1987    142
1992    142
1997    142
2002    142
2007    142
Name: lifeExp, dtype: int64

In [27]:
grouped_year_df = df.groupby('year')
type(grouped_year_df)

pandas.core.groupby.generic.DataFrameGroupBy

In [28]:
grouped_year_df_lifeExp = grouped_year_df['lifeExp']
type(grouped_year_df_lifeExp)

pandas.core.groupby.generic.SeriesGroupBy

In [29]:
mean_lifeExp_by_year = grouped_year_df_lifeExp.mean() 
mean_lifeExp_by_year

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64