In [3]:
#8-1 자료형 다루기
#자료형 자유자재로 변환하기 - astype메서드
import pandas as pd 
import seaborn as sns 

tips = sns.load_dataset("tips")

In [4]:
#여러가지 자료형을 문자열로 변환하기
#sex열의 데이터를 문자열로 변환하여 sex_str이라는 새로운 열에 저장한다.
tips['sex_str'] = tips['sex'].astype(str)

In [5]:
#문자열이 제대로 변환되었는지 확인해 본다.
#자료형이 문자열인 sex_str열이 새로 추가된 것을 알 수 있다.
#판다스에서 문자열은 object라고 표시된다. 
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [6]:
#자료형이 변환된 데이터 다시 원래대로 만들기
#다음은 total_bill열의 자료형을 문자열로 변환한 것이다.
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [7]:
#다시 문자열로 변환한 total_bill열을 실수로 변환한다.
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [8]:
#잘못 입력한 데이터 처리하기
#만약 정수가 있어야 하는 열에 문자열이 입력되어 있다면 어떻게 해야 하는가?
#자료형을 변환하는 to_numeric메서드도 알아본다.
#다음은 total_bill열의 1,3,5,7행의 데이터를 'missing'으로 바꿔
#변수 tips_sub_miss에 저장한 것이다.
tips_sub_miss= tips.head(10)
tips_sub_miss.loc[[1,3,5,7], 'total_bill'] = 'missing'
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\USER\AppData\Local\Temp\ipykernel_2432\3253122677.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss.loc[[1,3,5,7], 'total_bill'] = 'missing'

In [9]:
#데이터프레임의 자료형을 확인해 보면 total_bill열이 실수가 아닌 
#문자열임을 알 수 있다. 'missing'이라는 문자열 때문에 이런 문제가 발생했다.
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [10]:
#astype메서드를 사용하면 이 문제를 해결할 수 있을까?
#astype메서드를 사용해 total_bill열의 데이터를 실수로 변환하려 하면 오류가
#발생한다. 
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [11]:
#다른 방법을 사용해 본다. 
#to_numeric메서드를 사용해 본다. 
#그런데 비슷한 오류가 발생한다.
pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [12]:
#to_numeric메서드의 errors인자에 raise, coerce, ignore를 지정하여
#오류를 어느정도 제어할 수 있다. 
#errors인자를 ignore로 설정하면 오류가 발생하지 않지만 자료형도 변하지 않는다.
#말 그대로 오류를 무시하는 것이다. 여전히 total_bill열은 문자열이다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
    errors='ignore')
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\USER\AppData\Local\Temp\ipykernel_2432\2921351378.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

In [13]:
#이번에는 errors인자를 coerce로 설정해 본다.
#그러면 'missing'누락값으로 바뀐다. 
#total_bill의 자료형이 실수가 바뀌었다. 
#coerce는 억압하다. 강요하다의 뜻이다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
    errors='coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\USER\AppData\Local\Temp\ipykernel_2432\2324497013.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

In [15]:
#to_numeric메서드에는 errors인자외에도 dowcast인자가 있다. 
#downcast는 정수, 실수와 같은 자료형을 더 작은 형태로 만들 때 사용한다. 
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],
    errors='coerce', downcast='float')
print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\USER\AppData\Local\Temp\ipykernel_2432\103788185.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],

In [16]:
#문자열을 카테고리로 변환하기 
#sex열의 데이터는 남자 또는 여자만으로 구성되어 있다. 
#그래서 카테고리 자료형으로 저장되어 있다. 문자열로 한번 변환해 본다. 
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [18]:
#다시 sex열을 카테고리로 변환해 본다. 
#용량이 10.8kb에서 9.3kb로 줄어든 것을 볼 수 있다.
#이렇게 반복되는 문자열로 구성된 데이터는 카테고리를 사용하는 것이 효율적이다.
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None

In [19]:
#apply메서드 활용
#10-1 간단한 함수 만들기
def my_sq(x):
    return x**2 

def my_exp(x,n):
    return x**n 

print(my_sq(4))
print(my_exp(2,4))

16
16

In [20]:
#시리즈와 데이터프레임에 apply메서드 사용하기
import pandas as pd 
df = pd.DataFrame({'a':[10,20,30],
        'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [25]:
#다음은 앞에서 만든 제곱 함수(my_exp)를 사용하기 전에 
#a열을 제곱하여 얻은 결과이다
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [26]:
#다음은 apply메서드에 제곱 함수의 이름(my_sq)를 
#전달하여 시리즈의 모든 데이터에 제곱 함수를 적용한 것이다. 
#이때 apply메서드에 전달하는 함수(my_sq)가 1개의 인자를 
#받도록 구성되어 있다면 인자값을 생략해야 한다. 
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [27]:
#이제 2개의 인자를 전달받아야 하는 n제곱함수(my_exp)와
#apply메서드를 함께 사용해 본다. apply메서드의 첫번째 인자에는
#n제곱 함수의 이름(my_exp)를 전달하고 두번째 인자에는 n제곱 함수의
#두번째 인자(n)을 전달한다.
#apply메서드에 전달하는 함수의 첫번째 인자에는 데이터프레임이나 
#시리즈가 자동으로 전달된다는 것을 알 수 있다. 
ex = df['a'].apply(my_exp, n=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [29]:
ex = df['a'].apply(my_exp, n=3)
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [30]:
#이번에는 시리즈가 아니라 데이터프레임에 apply메서드를 사용해 본다.
#먼저 데이터프레임을 준비한다.
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [31]:
#1개의 값을 전달받아 출력하는 함수
def print_me(x):
    print(x)

In [32]:
#이번에는 데이터프레임에 함수를 적용해야 하기 때문에 함수를 
#열방향으로 적용할지 행방향으로 적용할지 정해야 한다.
#axis인자값을 0이나 1로 지정하면 함수를 열 또는 행 방향으로
#적용할 수 있다.
#만약 axis값을 지정하지 않으면 열방향(0)으로 함수를 적용한다.
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [33]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [34]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [35]:
#이번에는 3개의 인자를 입력받아 평균을 계산하는 함수를 사용해 본다.
def avg_3(x,y,z):
    return (x+y+z)/3

In [36]:
#이런 경우 avg_3함수를 apply메서드에 전달하면 
#avg_3함수는 3개의 인자값을 필요로 하는 함수인데 1개의 인자값만 
#받았다는 오류메세지가 출력된다.
print(df.apply(avg_3))

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [37]:
#다음은 avg_3함수가 열단위로 데이터를 처리할 수 있도록 
#대선한 avg_3_apply함수이다.
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3 

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [38]:
#앞의 과정에서는 데이터프레임의 행개수가 3이라는 알고 했지만
#일반적으로 for문을 사용해서 작성해야 한다.
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item 
    return sum / df.shape[0]

In [39]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [40]:
#행방향으로 데이터를 처리하는 함수도 만들 수 있다.
#마지막 return문의 df.shape[0]을 df.shape[1]로 바꾸면 된다.
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item 
    return sum / df.shape[1]

print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

In [41]:
#apply메서드 사용하기 - 고급 
#데이터프레임의 누락값을 처리한 다음 apply메서드 사용하기
import seaborn as sns 
titanic = sns.load_dataset("titanic")

In [42]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [43]:
#다음은 누락값의 개수를 반환하는 count_missing함수이다. 
#판다스의 isnull메서드에 데이터프레임을 전달하면 누락값의
#유무에 따라 True, False를 적용한 데이터프레임이 만들어진다. 
#이 값을 넘파이의 sum메서드에 전달하면 누락값의 개수를 구할 수 있다.
import numpy as np 

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [44]:
#다음은 apply메서드에 count_missing함수를 전달하여 얻은 결과다.
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [45]:
#다음은 누락값의 비율을 계산하는 prop_missing함수이다.
#앞에서 작성한 count_missing함수를 이용해 데이터프레임의
#누락값 개수를 구하고 size속성을 이용해 데이터프레임의
#전체 데이터 수를 구하여 나누면 누락값의 비율을 계산할 수 있다.
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size 
    return num / dem

In [46]:
#다음은 apply메서드에 prop_missing함수를 적용한 것이다. 
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [47]:
#앞에서 작성한 prop_missing함수를 이용하면 누락값이 아닌 데이터의 
#비율도 구할 수 있다. 전체 비율(1)에서 누락값의 비율을 빼면 된다.
def prop_complete(vec):
    return 1 - prop_missing(vec)

pmis_col2 = titanic.apply(prop_complete)
print(pmis_col2)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [49]:
#데이터프레임의 누락값 처리하기 - 행방향 
#이번에는 행방향으로 데이터를 처리해 본다. 
#다음은 axis를 1로 설정하여 count_missing, prop_missing, prop_complete
#함수를 행방향으로 적용하여 실행한 것이다. 
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [50]:
#다음은 누락값의 개수를 구하여 titanic데이터프레임이 추가한 것이다.
#데이터프레임에 num_missing열이 추가된 것을 알 수 있다.
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [51]:
#앞에서 누락값이 있는 데이터를 데이터프레임에 추가했기 때문에 누락값이
#있는 데이터만 따로 모아서 볼 수도 있다. 다음은 누락값이 2개 이상인
#데이터를 추출한 것이다.
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked  class  \
773         0       3    male  NaN      0      0   7.2250        C  Third
650         0       3    male  NaN      0      0   7.8958        S  Third
656         0       3    male  NaN      0      0   7.8958        S  Third
783         0       3    male  NaN      1      2  23.4500        S  Third
502         0       3  female  NaN      0      0   7.6292        Q  Third
154         0       3    male  NaN      0      0   7.3125        S  Third
863         0       3  female  NaN      8      2  69.5500        S  Third
593         0       3  female  NaN      0      2   7.7500        Q  Third
859         0       3    male  NaN      0      0   7.2292        C  Third
229         0       3  female  NaN      3      1  25.4667        S  Third

       who  adult_male deck  embark_town alive  alone  num_missing
773    man        True  NaN    Cherbourg    no   True            2
650    man        True  NaN  Southampton    no   True            2
656    man        True  NaN  Southampton    no   True            2
783    man        True  NaN  Southampton    no  False            2
502  woman       False  NaN   Queenstown    no   True            2
154    man        True  NaN  Southampton    no   True            2
863  woman       False  NaN  Southampton    no  False            2
593  woman       False  NaN   Queenstown    no  False            2
859    man        True  NaN    Cherbourg    no   True            2
229  woman       False  NaN  Southampton    no  False            2